@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@using System.Web.Mvc.Html
@using System.Web.WebPages


@{
    Layout = "Shared/Admin_Header.cshtml";
}

<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-user"></i> Login Admin</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-faded">
    <div class="container">
        <div class="row">


        </div>
    </div>
</section>

<!--Post-->
<!-- login -->
<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Account Lognin</h4>
                    </div>
                    <div class="car-block">

                        @{
                            
                         
                            Validation.RequireField("a_email", "Email Is Required");
                            Validation.RequireField("a_password", "Password Is Required");
                            var a_name = "";
                            var a_lastname = "";

                            var email = "";
                            var password = "";
                            var selected_email = "";
                            var selected_password = "";
                            var db = Database.Open("HELLOPROGRAMMERS");
                            var find_all_admin = "select * from Admin ";
                            foreach (var VARIABLE in db.Query(find_all_admin))
                            {
                                a_name = VARIABLE.a_name;
                                a_lastname = VARIABLE.a_lastname;
                                email = VARIABLE.a_email;
                                password = VARIABLE.a_password;
                            }

                            if (IsPost && Validation.IsValid())

                            {
                                selected_email = Request["a_email"];
                                selected_password = Request["a_password"];

                                if (selected_password == password || selected_email == email)
                                {

                                    Session["a_name"] = a_name;
                                    Session["a_lastname"] = a_lastname;
                                    Session[selected_email] = email;
                                    Response.Write(Session[selected_email]);


                                    //  Response.Redirect("index.cshtml");
                                }
                                else
                                {

                                    <div class="alert alert-danger" role="alert">
                                        <h5>
                                            wrong Id and Password
                                        </h5>
                                    </div>
                                }


                            }

                        }
                        @Html.ValidationSummary()
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="email" class="form-control-label">Email</label>
                                <input type="email" name="a_email" class="form-control">
                                @Html.ValidationMessage("a_email")
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-control-label">Password</label>
                                <input type="password" name="a_password" class="form-control">
                                @Html.ValidationMessage("a_password")
                            </div>

                            <input type="submit" name="buttonLogin" class="btn btn-primary btn-block mb-3" value="Login"/>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<footer id="main-footer" class="bg-inverse text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; 2017 </p>
            </div>
        </div>
    </div>
</footer>



<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>
</body>
</html>
