@{
    Layout = "Shared/Admin_Header.cshtml";
}
<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-user"></i> Profile</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mr-auto">
                <a href="index.cshtml" class="btn btn-secondary btn-block"><i class="fa fa-arrow-left"></i> Back To Dashboard</a>
            </div>
            <div class="col-md-3">
                <a href="" class="btn btn-block btn-success" data-toggle="modal" data-target="#passwordModal"><i class="fa fa-lock"></i> Chane Passowrd</a>
            </div>
            <div class="col-md-3">
                <a href="" class="btn btn-danger btn-block"><i class="fa fa-remove"></i> Delete Account </a>
            </div>
        </div>
    </div>
</section>

<!--Post-->
<!-- POSTS Edit -->
<section id="edit-post">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Profile</h4>
                    </div>

                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <label for="name" class="form-control-label">Name</label>
                                <input type="text" value="Saurabh pal" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-control-label">Email</label>
                                <input type="email" value="spal@mail.com" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="body">Bio</label>
                                <textarea name="editor1" class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum quisquam ipsam suscipit modi sunt maiores dignissimos animi mollitia nisi officiis placeat accusantium dolorum molestiae saepe odio, omnis beatae tenetur cupiditate iusto quas quae. Ipsam ipsum quaerat eum numquam repellendus?</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Your avatar</h3>
                <img src="img/avatar.png" class="d-block img-fluid mb-3"></img>
                <button type="button" class="btn btn-primary btn-block" name="button">Edit Image</button>
                <button type="button" class="btn btn-danger btn-block" name="button">Delete Image</button>
            </div>
        </div>
    </div>
</section>


<footer id="main-footer" class="bg-inverse text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; @DateTime.Today.Year </p>
            </div>
        </div>
    </div>
</footer>

<!-- Profile modal-->
<div class="modal fade" id="passwordModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="passwordModalLabel">Edit password</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="password" class="form-control-label">Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password2" class="form-control-label">Confirm Password</label>
                        <input type="password" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-warning" data-dismiss="modal">Edit Password</button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>
</body>
</html>
