@{
    Layout = "Shared/Admin_Header.cshtml";
}
<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-gear"></i> Settings</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mr-auto">
                <a href="index.cshtml" class="btn btn-secondary btn-block"><i class="fa fa-arrow-left"></i> Back To Dashboard</a>
            </div>
            <div class="col-md-3">
                <a href="" class="btn btn-block btn-success"><i class="fa fa-check"></i> Save Changes</a>
            </div>

        </div>
    </div>
</section>

<!--Post-->
<!-- settings -->
<section id="settings">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Settings</h4>
                    </div>
                    <div class="card-block">
                        <form>
                            <fieldset class="form-group pl-4">
                                <legend>Allow User Registration</legend>
                                <div class="form-check">
                                    <label class="form-check-lable">
                                        <input type="radio" class="form-check-input" value="yes"> Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-lable">
                                        <input type="radio" class="form-check-input" value="no"> no
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset class="form=group pl-4">
                                <legend>HomePage Format</legend>
                                <div class="form-check">
                                    <label class="form-check-lable">
                                        <input type="radio" class="form-check-input" value="yes"> Post Index
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-lable">
                                        <input type="radio" class="form-check-input" value="no"> Single Page
                                    </label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<footer id="main-footer" class="bg-inverse text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; 2017 </p>
            </div>
        </div>
    </div>
</footer>



<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>
</body>
</html>
